body {
  background: #fafafa;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.app-header a, .app-footer a {
  color: #666;
}

.app-header .logo-link { text-decoration: none; }

.badge {
  display: inline-block;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background-color:#84a59d;
  color: #fff;
}

.highlighted {
  outline: 10px solid #ffb70330;
}
.suite-shape.highlighted {
  background: #ffb70330;
}

.badge.team-0 {
  background-color: #f28482;
}

.team.team-0:after {
  content: "Team A";
}

.team.team-1:after {
  content: "Team B";
}


.card {
  width: 5rem;
  margin: 0.3rem;
}
